.icon {
  display: inline-block;
  margin: 0;

  svg {
    font-size: inherit;
    width: 1em;
    height: 1em;
    user-select: none;
    vertical-align: -0.125em;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
