@import '../../styles';

@mixin alert($color) {
  color: darken($color, 30%);
  border-color: darken($color, 10%);
  background-color: lighten($color, 30%);

  svg {
    color: $color;
  }
}

.alert {
  @include component;

  font-size: $fontSizeM;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: $halfSpace $space;
  border: $border;
  border-radius: $borderRadius;
}

.error {
  @include alert($cocoCorail);
}

.icon {
  font-size: rem(21px);
  flex-grow: 0;
  margin-right: $space;
  padding: rem(3px) 0;
}

.info {
  @include alert($hellblau);
}

.message {
  padding: $halfSpace 0;
}

.success {
  @include alert($kaktus);
}

.warning {
  @include alert($vaALaPlaya);
}
