@import '../../styles';

@mixin alert($color) {
  color: darken($color, 30%);
  background-color: lighten($color, 30%);
  border-color: darken($color, 10%);

  svg {
    color: $color;
  }
}

.alert {
  display: flex;
  flex-flow: row nowrap;
  padding: $space;
  margin: 0;
  border: $border;
  border-radius: $borderRadius;
}

.error {
  @include alert($cocoCorail);
}

.icon {
  flex-grow: 0;
  margin-right: $space;
}

.info {
  @include alert($hellblau);
}

.success {
  @include alert($kaktus);
}

.warning {
  @include alert($vaALaPlaya);
}
