@import '../../styles';

.buttonGroup {
  position: relative;
  display: inline-flex;

  .button:active,
  .button:focus {
    position: relative;
    z-index: 1;
  }
}

// Orientations

.horizontal {
  .button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button + .button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -$borderWidth;
  }
}

.vertical {
  flex-direction: column;

  .button {
    flex: 1 1 auto;
  }

  .button:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button + .button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -$borderWidth;
  }
}
