@import 'functions';

$border: rem(1px) solid;
$borderRadius: rem(3px);
$fontFamily: 'Open Sans', arial, sans-serif;

// Spaces
$doubleSpace: rem(32px);
$space: rem(16px);
$halfSpace: rem(8px);
$smallSpace: rem(4px);
