@import 'functions';

$borderWidth: rem(1px);
$border: $borderWidth solid;
$borderRadius: rem(3px);
$fontFamily: 'Open Sans', arial, sans-serif;
$fontWeight: 400;

// Font sizes
$fontSizeXL: rem(20px);
$fontSizeL: rem(18px);
$fontSize: rem(16px);
$fontSizeM: rem(14px);
$fontSizeS: rem(12px);
$fontSizeXS: rem(10px);

// Spaces
$doubleSpace: rem(32px);
$space: rem(16px);
$halfSpace: rem(8px);
$quarterSpace: rem(4px);

// Margins
